<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>

<h1>Welcome to MovieMate 🎬</h1>

<button onclick="goMovies()">Browse Movies</button>
<!-- <button onclick="goFav()">My Favourites ❤️</button> -->
<button onclick="logout()">Logout</button>

<script>
function goMovies() {
    window.location.href = "/movies-ssr";
}

// function goFav() {
//     window.location.href = "/favourites";
// }

function logout() {
    localStorage.removeItem("token");
    alert("Logged out");
    window.location.href = "/login";
}
</script>

</body>
</html>